.homepage {
  padding: 4rem 2rem 0;
  flex: 1;
  display: flex;
  gap: 1rem;
  background-color: #eee;
}

.main {
  flex: 2;
}

/* -------------------- MEDIA QUERIES -------------------- */

@media screen and (max-width: 992px) {
  .homepage {
    padding: 4rem 10vw 0;
  }
}

@media screen and (max-width: 768px) {
  .homepage {
    padding: 4rem 5vw 0;
  }
}
