.profile {
  padding-top: 57px;
  padding-bottom: 2rem;
  height: 100vh;
  overflow-y: scroll;
}

.profileImages {
  height: min(30vh, 300px);
  position: relative;
}

.profileImages .coverPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileImages .profileImage {
  width: 16vh;
  height: 16vh;
  border-radius: 50%;
  position: absolute;
  bottom: -8vh;
  left: 150px;
}

.main {
  display: flex;
}

/* USER INFO */

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(300px + 16vh);
  padding: 0 60px;
  margin-top: 8vh;
}

.name {
  margin-top: 10px;
}

.username {
  font-size: 0.85rem;
  color: #666;
  font-weight: 600;
}

.email {
  font-size: 0.85rem;
  color: #666;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.userStats {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
}

.userStats li {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
  cursor: pointer;
  font-weight: 600;
  transition: color 0.3s;
}

.userStats li:first-child {
  cursor: default;
}

.userStats li:first-child:hover {
  color: gray;
}

.userStats li:hover {
  color: #333;
}

.userStats li span {
  font-weight: bold;
  color: #333;
}

.userInfo .about {
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.5rem;
  font-weight: 600;
  color: #555;
}
