@import "../index.css";

.commentForm {
  display: flex;
  position: relative;
}

.commentForm input {
  flex: 1;
  padding: 10px;
  border-radius: 9999px;
  border: solid 1px #ddd;
  padding-left: 2.5rem;
  outline: none;
  background-color: #f5f5f5;
}

.commentForm img {
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.commentForm button {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px 1rem;
  border-radius: 9999px;
  border: none;
  background-color: red;
  background-color: var(--BLUE-200);
  color: #fff;
  transition: all 0.15s;
}

.commentForm button:hover {
  background-color: var(--BLUE-100);
}
