.creator {
  display: flex;
  gap: 10px;
  align-items: center;
}

.creator a {
  display: flex;
  gap: 10px;
  align-items: center;
}

.creator img {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.creator h4 {
  display: flex;
  gap: 4px;
}

.creator h4 span {
  font-size: 0.9rem;
  color: gray;
  font-weight: 500;
}

.creator p {
  color: gray;
  font-size: 0.9rem;
}
