.modal {
  width: 450px;
  height: 500px;
  background-color: white;
  animation: show 0.3s forwards;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@keyframes show {
  0% {
  }
  100% {
    transform: scale(0.96);
  }
}

.header {
  text-align: center;
  padding: 12px 0;
  border-bottom: solid 1px #ddd;
  font-size: 1.1rem;
  color: #333;
}

/* FOLLOWERS */
.followers {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex: 1;
}

.follower a {
  display: flex;
  align-items: center;
  padding: 10px;
}

.follower a:hover {
  background-color: #eee;
}

.follower img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.follower .info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.follower .info p {
  color: #666;
  font-size: 0.9rem;
}

.follower .info p:first-child {
  font-weight: bold;
  color: #333;
}

.follower button {
  margin-left: auto;
  font-size: 0.9rem;
  padding: 7px 12px;
  border-radius: 5px;
  border: solid 1px #ccc;
  background-color: #eee;
  transition: background-color 0.15s;
}

.follower button:hover {
  background-color: #ddd;
}
