.creator {
  display: flex;
  align-items: center;
}

.creator a {
  display: flex;
}

.creator img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.creator .text {
  margin-left: 8px;
}

.creator .text p {
  color: #666;
  font-weight: 500;
  font-size: 0.8rem;
}

.creator .text h4 {
  font-size: 0.9rem;
  font-weight: 600;
}

.creator .options {
  margin-left: auto;
  background-color: transparent;
  padding: 0 10px;
  border: none;
}

.options i {
  font-size: 1.5rem;
  color: #333;
}
