.feed {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.sortBy {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
}

.sortBy p {
  color: #aaa;
  cursor: pointer;
}

.sortBy p.active {
  color: #000;
}

/* POSTS */
.posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
