.masonryGrid {
  display: flex;
  gap: 10px;
}

.grid {
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex: 1;
}

.grid img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  height: 100%;
  object-fit: cover;
}

.postDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userDetails {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userDetails img {
  height: 30px;
  border-radius: 50%;
}

.userDetails p {
  font-size: 0.9rem;
  color: gray;
}
