.optionsButton {
  background-color: transparent;
  border: none;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  transition: background-color 0.3s;
}

.optionsButton:active {
  background-color: #ccc;
}
