.optionsButton {
  background-color: transparent;
  border: none;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  transition: 0.3s;
  color: #333;
  background-color: #eee;
}

.optionsButton:hover {
  background-color: #ccc;
}

.optionsButton:active {
  scale: 1.1;
}
