.options {
  display: flex;
  gap: 10px;
  margin-left: auto;
  z-index: 100;
}

.optionsButton {
  background-color: transparent;
  border: none;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
  color: #333;
  background-color: #eee;
}

.optionsButton:hover {
  background-color: #ccc;
  color: var(--BLUE-200);
}

.optionsButton.delete:hover {
  color: var(--RED-200);
}

.optionsButton:active {
  scale: 1.1;
}
