.post {
  background-color: #fff;
  aspect-ratio: 8/9;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.3s;
}

@keyframes pulse {
  0% {
    background-color: #eee;
  }
  50% {
    background-color: #ddd;
  }
  100% {
    background-color: #eee;
  }
}

.images {
  width: 100%;
  flex: 1;
  background-color: #eee;
  animation: pulse 1s infinite;
  border-radius: 5px;
}

.creator {
  display: flex;
  gap: 10px;
}

.creatorImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee;
  animation: pulse 1s infinite;
}

.creatorDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  flex: 1;
}

.creatorDetails .fullname {
  flex: 1;
  width: 80%;
  background-color: #eee;
  border-radius: 999px;
  animation: pulse 1s infinite;
}

.creatorDetails .username {
  flex: 1;
  width: 60%;
  background-color: #eee;
  border-radius: 999px;
  animation: pulse 1s infinite;
}

.options {
  margin-left: auto;
  display: flex;
  gap: 5px;
}

.options button {
  width: 30px;
  height: 30px;
  border: none;
  animation: pulse 1s infinite;
  border-radius: 50%;
}
