.post {
  background-color: #fff;
  aspect-ratio: 8/9;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  cursor: pointer;
}

.post .images {
  overflow: hidden;
  flex: 1;
}

.post .images img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ACTION BUTTONS */
.actionButtons {
  display: flex;
  justify-content: space-between;
}

.actionButtons button {
  background-color: #fff;
  border: none;
  padding: 10px;
  color: #333;
  font-size: 0.9rem;
}

.actionButtons button i {
  margin-right: 10px;
}
