.post {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  box-shadow: 0 0 5px #eee;
  transition: all 0.3s;
}

/* IMAGES */
.images {
  border-radius: 5px;
  overflow: hidden;
  max-height: 300px;
}
.images img {
  width: 100%;
  transition: scale 0.3s;
  cursor: pointer;
}

.images img:hover {
  scale: 1.02;
}

/* CAPTION */
.caption {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.6rem;
}

/* SEE MORE BUTTON */
.seeMoreBtn {
  background-color: transparent;
  border: none;
  color: blue;
  margin-left: 5px;
}

.seeMoreBtn:hover {
  text-decoration: underline;
}

/* ACTION BUTTONS */
.actionButtons {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.actionButtons button {
  background-color: transparent;
  border: none;
  color: #333;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  padding: 5px 10px;
}

.actionButtons button i {
  font-size: 1rem;
  transition: transform 0.1s;
}

.actionButtons button:hover i {
  transform: scale(1.2);
}

.actionButtons button:active i {
  transform: scale(1.1);
}
