.modal {
  width: 40vw;
  height: min(90vh, 800px);
  background-color: white;
  animation: show 0.3s forwards;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

@keyframes show {
  0% {
  }
  100% {
    transform: scale(0.96);
  }
}

.modal form {
  padding: 1rem 1.5rem;
  display: flex;
  position: relative;
}

.modal form input {
  width: 100%;
  border-radius: 9999px;
  border: solid 1px #ddd;
  background-color: #eee;
  padding: 10px;
  padding-left: 3rem;
  font-size: 1rem;
  outline: none;
}

.modal form i {
  position: absolute;
  top: 1.9rem;
  left: 2.7rem;
  font-size: 1.1rem;
  color: gray;
}

.searchResults {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  flex: 1;
}
