.sideBar {
  height: fit-content;
  flex: 1;
  height: calc(100vh - 4rem);
  position: sticky;
  top: 4rem;
  overflow-y: scroll;
  padding-bottom: 2rem;
}

.userInfo {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #444;
  align-items: center;
}

.userImage {
  width: 100%;
  height: 100px;
  position: relative;
  margin-bottom: 30px;
}

.userImage .coverPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userImage .profilePhoto {
  width: 65px;
  aspect-ratio: 1;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 40%);
  bottom: 0;
  border-radius: 50%;
}

.userInfo .fullname {
  font-size: 1rem;
}

.userInfo .username {
  font-size: 0.9rem;
  color: gray;
}

.userInfo .about {
  font-size: 0.9rem;
  max-width: 50%;
  text-align: center;
}

.userStats {
  display: flex;
  width: 100%;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  padding: 10px;
  margin-top: 10px;
}

.userStats > div {
  font-size: 0.9rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userStats > div span {
  font-size: 1rem;
  font-weight: bold;
}

.userStats > div:first-child {
  border-right: solid 1px #ddd;
}

.userInfo a {
  padding: 1rem;
  color: var(--BLUE-100);
  font-weight: 600;
}

.suggestions {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  color: #444;
  margin-top: 1rem;
  padding: 1rem;
}

.suggestions > h3 {
  font-size: 1rem;
}

.suggestions > a {
  font-size: 0.9rem;
  color: var(--BLUE-100);
  font-weight: 600;
}

.suggestions ul {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  gap: 1rem;
}

.suggestions ul li {
  display: flex;
  gap: 10px;
  align-items: center;
}

.suggestions ul li img {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.suggestions ul li > div {
  display: flex;
  flex-direction: column;
}

.suggestions ul li > div h4 {
  font-size: 15px;
  font-weight: 600;
}

.suggestions ul li > div p {
  font-size: 0.9rem;
  color: gray;
}

.suggestions ul li button {
  background-color: #fff;
  border-radius: 9999px;
  padding: 7px 1rem;
  border: solid 1px var(--BLUE-100);
  color: var(--BLUE-100);
  margin-left: auto;
  transition: 0.2s;
  font-weight: bold;
}

.suggestions ul li button:hover {
  border-color: var(--BLUE-100);
  background-color: var(--BLUE-100);
  color: #fff;
}

.suggestions ul li button:active {
  scale: 0.95;
}
