.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  margin-bottom: 1rem;
}

.header a {
  font-size: 0.9rem;
}

.header a:hover {
  color: black;
}

.storiesList {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
}
.storiesList::-webkit-scrollbar {
  display: none;
}
