.story {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  border: solid 1px blue;
  box-shadow: 0 0 2px 1px blue;
  padding: 2px;
}

.story:hover img {
  scale: 1.1;
}

.story img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: scale 0.3s;
  border-radius: 50%;
}
