* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: open sans;
}

:root {
  --BLACK-100: #212529;
  --BLACK-200: #343a40;
  --BLUE-100: hsl(212, 92%, 40%);
  --BLUE-200: #147df5;
  --RED-100: #af0426;
  --RED-200: #d2042d;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}
